.icon {
  display: inline-block;
  flex-shrink: 0;
  color: inherit;
}

.icon-size-14 {
  width: 14px;
  height: 14px;
}

.icon-size-16 {
  width: 16px;
  height: 16px;
}

.icon-size-20 {
  width: 20px;
  height: 20px;
}

.icon-size-24 {
  width: 24px;
  height: 24px;
}

.icon-size-32 {
  width: 32px;
  height: 32px;
}

.icon-size-40 {
  width: 40px;
  height: 40px;
}

.icon-size-48 {
  width: 48px;
  height: 48px;
}

