.navigation {
  display: flex;
  align-items: center;
  gap: var(--sds-size-space-200);
}

.navigation-direction-row {
  flex-direction: row;
}

.navigation-direction-column {
  flex-direction: column;
}

.navigation-pill {
  --border-radius: var(--sds-size-radius-200);
  background: transparent;
  border: none;
  border-radius: var(--border-radius);
  color: var(--sds-color-text-brand-default);
  cursor: pointer;
  font: var(--sds-font-body-base);
  padding: var(--sds-size-space-200);
  position: relative;
  transition: background-color 0.15s ease;
}

.navigation-pill[data-hovered] {
  background: var(--sds-color-background-brand-tertiary-hover);
}

.navigation-pill[data-selected] {
  color: var(--sds-color-text-brand-on-brand-secondary);
  background: var(--sds-color-background-brand-tertiary);
}

.navigation-pill[data-focus-visible] {
  outline: var(--sds-size-stroke-focus-ring) solid var(--sds-color-border-brand-secondary);
  outline-offset: var(--sds-size-space-050);
}
